li a {
  text-decoration: none;
  color: black;
}
.google-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
  height: 90px;
  width: 270px;
}
.navigation-top {
  margin-top: 0;
  text-align: right;
  padding: 10px;
}
.navigation-top li {
  display: inline;
  padding: 5px;
}
.buttons-under-search {
  margin-top: 5px;
  padding: 10px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
.buttons-under-search li {
  display:inline;
  padding: 5px;
}
.search-box {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.search-box-input {
  height: 17px;
  width: 500px;
  border: 1px solid blue;
  padding: 5px;
}
